h1 {
  text-align: center;
  color: aqua;
}

#welcome {
  width: auto;
  text-shadow: 50px;
}

#displaydice {
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 120px;
  color: red;
}

#main {
  text-align: center;
}

body {
  color: #ff003e;
  background-color: black;
}
h2,h3,p,li{
  color: white;
}
@media screen and (max-width: 650px) {
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
}
